@model IEnumerable<Garage_2._0.Models.Vehicle>

@{
    ViewBag.Title = "Garage";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Park a Vehicle", "Create")
</p>


@using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
    {
    <table class="table">
        <tr>
            <th>
                Vehicle Type:
            </th>
            <th>
                Registration number:
            </th>
            <th>
                Color:
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td>

                @Html.DropDownList("SearchType",
EnumHelper.GetSelectList(typeof(Garage_2._0.Models.Type)),"All", new { @class = "" })


            </td>
            <td>
                @Html.TextBox("SearchReg")
            </td>
            <td>
                @Html.TextBox("SearchColor")
            </td>
            <td>
                <input type="submit" value="Search" />
            </td>
        </tr>
    </table>

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.VehicleTypeSortParm, searchReg = ViewBag.SearchReg, searchColor = ViewBag.SearchColor, searchType = ViewBag.SearchType })
        </th>
        <th>
            @Html.ActionLink("Registration Number", "Index", new { sortOrder = ViewBag.RegistrationNumberSortParm, searchReg = ViewBag.SearchReg, searchColor = ViewBag.SearchColor, searchType = ViewBag.SearchType })
        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.ColorSortParm, searchReg = ViewBag.SearchReg, searchColor = ViewBag.SearchColor, searchType = ViewBag.SearchType })
        </th>
        <th>
            @Html.ActionLink("Parked", "Index", new { sortOrder = ViewBag.WhenParkedSortParm, searchReg = ViewBag.SearchReg, searchColor = ViewBag.SearchColor, searchType = ViewBag.SearchType })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @switch (item.VehicleType.ToString())
                {
                case "Airplane":
                <i class="fa fa-fighter-jet" aria-hidden="true" style="color:@item.Color;"></i>
                break;
                case "Bike":
                <i class="fa fa-motorcycle" aria-hidden="true" style="color:@item.Color;"></i>
                break;
                case "Boat":
                <i class="fa fa-ship" aria-hidden="true" style="color:@item.Color;"></i>
                break;
                case "Bus":
                <i class="fa fa-bus" aria-hidden="true" style="color:@item.Color;"></i>
                break;
                case "Car":
                <i class="fa fa-car" aria-hidden="true" style="color:@item.Color;"></i>
                break;
                default:
                break;
                }
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenParked)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Retrieve", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
