@model Garage_2._0.Models.Member

@{
    ViewBag.Title = "Member Vehicle List";
}

<h2>@ViewBag.Title</h2>

<p>
    <span class="buttonspan">
        @Html.ActionLink("Back to Members", "Index")
    </span>
</p>

<div class="divfooter tblShadow">
    <table class="table">
        <tr>
            @* <label class="control-label col-md-2" for="FullName">Full Name</label> *@
            <th>@Html.DisplayNameFor(model => model.FullName) <span style="font-weight:100">@Html.DisplayFor(model => model.FullName)</span></th>
            @*<td>@Html.DisplayFor(model => model.FullName)</td>*@
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>
                Registration Number
            </th>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            @*<td>@Html.DisplayNameFor(model => model.Vehicles)</td>*@
            @*<th>@Html.DisplayNameFor(model => model.Vehicles.RegistrationNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Vehicles.Brand)</th>
            <th>@Html.DisplayNameFor(model => model.Vehicles.Model)</th>*@
            <td></td>
        </tr>

        @foreach (var vehicle in Model.Vehicles)
            {
            <tr>
                <td>@Html.DisplayFor(model => vehicle.RegistrationNumber)</td>
                <td>@Html.DisplayFor(model => vehicle.Brand)</td>
                <td>@Html.DisplayFor(model => vehicle.Model)</td>

                <td>@Html.ActionLink("Edit", "Edit", "Vehicles", new { id = vehicle.Id }, null)</td>
            </tr>
        }
    </table>
</div><br />
